<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <title>在线支付 - 支付宝 - 网上支付 安全快速！</title>
        <link rel="stylesheet" type="text/css" href="/Public/Alips/css/qrcode.css">
        <link rel="stylesheet" type="text/css" href="/Public/layer/layer.css">
<!--         <script type="text/javascript" src="/Public/Alips/js/jquery.min.js"></script>
 		<script type="text/javascript" src="/Public/Alips/js/qrcode.js"></script>
 		<script type="text/javascript" src="/Public/Alips/js/layer.js"></script>
 		<script type="text/javascript" src="/Public/Alips/js/qqapi.js"></script> -->
        <script src="/Public/Alips/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/Public/Alips/js/layer.js"></script>
        <script type="text/javascript" src="/Public/Alips/js/jquery.qrcode.min.js"></script>
    </head>
    <body>
    <div style="width: 100%; text-align: center;font-family:微软雅黑;">
        <div id="panelWrap" class="panel-wrap">
            <!-- CUSTOM LOGO -->
            <div class="panel-heading">
                <div class="row">
             	<div class="col-md-12 text-center">
                   <img src="/Public/Alips/picture/alilogo.png" alt="Logo-QQPay" class="img-responsive center-block">
             </div>
              
                </div>
            </div>
            <!-- PANEL TlogoEMPLATE START -->
            <div class="panel panel-easypay">
                <!-- PANEL HEADER -->
                <div class="panel-heading">
                    <h3>
                        <small>订单号：<{$orderid}></small>
 
                    </h3>
                    <div class="money">
                        <span class="price"><{$money}></span>
                        <span class="currency">元</span>
                    </div>
                </div>
                <div class="qrcode-warp">
                    <div id="qrcode">
                    <img id="qrcode_load" src="/Public/Alips/picture/loading.gif" style="display: block;"></div></div>
              
                <div class="panel-footer">
                    <!--<input type="button" id="btnDL" onclick="" value="立即支付" class="btn  btn-primary btn-lg btn-block" disabled>-->
                    <div style="font-weight: bold;color: red;">如果无法跳转，需保存二维码并打开支付宝扫码进行付款!<br>
                        请保持支付宝是最新版本!
                    </div>
                </div>
                            </div>
        </div>
    </div>

     <script type="text/javascript">
       
     var intDiff = parseInt('540');//倒计时总秒数量
     function timer(intDiff){
         window.setInterval(function(){
         var day=0,
             hour=0,
             minute=0,
             second=0;//时间默认值       
         if(intDiff > 0){
         	day = Math.floor(intDiff / (60 * 60 * 24));
             hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
             minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
             second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
         }
     	//if (minute == 00 && second == 00) document.getElementById('qrcode').innerHTML='<br/><br/><br/><br/><br/><br/><br/><h2>二维码超时 请重新发起交易</h2><br/>';
         if (minute <= 9) minute = '0' + minute;
         if (second <= 9) second = '0' + second;
         //$('#day_show').html(day+"天");
         //$('#hour_show').html('<s id="h"></s>'+hour+'时');
         //$('#minute_show').html('<s></s>'+minute+'分');
         //$('#btnDL').valu('<s></s>'+second+'秒');
         $('#btnDL').val("立即支付("+ minute + '分' + second + '秒'+')');
         intDiff--;
         }, 1000);
     } 
     $(function(){
         timer(intDiff);
     });


     var updateQrImg = 0;

     //订单监控  {订单监控}
     function order(){
     	$.get("<{$checkurl}>", function(result){
     		//成功
     		if(result.code == '200'){
 				//回调页面
         		window.clearInterval(orderlst);
     			layer.confirm(result.msg, {
     			  icon: 1,
     			  title: '支付成功',
   				  btn: ['我知道了'] //按钮
   				}, function(){
   					location.href="<{$callbackUrl}>";
   				});
     			setTimeout(function(){location.href="<{$callbackUrl}>";},5000);
     		}
     		//支付二维码
     		if(result.code == '100' && updateQrImg == 0){

         		$('#qrcode_load').remove();
         		$('#btnDL').attr('onclick','pay("' + "<{$url}>" + '")');
         		$('#btnDL').attr('disabled',false);
 				//设置参数方式 
 			jQuery(function(){
                jQuery('#qrcode').qrcode("<{$url}>");
            })
 				updateQrImg = 1;
     		}
         	//订单已经超时
     		if(result.code == '-1' || result.code == '-2'){
     			window.clearInterval(orderlst);
     			layer.confirm(result.msg, {
     			  icon: 2,
     			  title: '支付失败',
   				  btn: ['确认'] //按钮
   				}, function(){
   					location.href="<{$callbackUrl}>";
   				});
         	}
     	  });
      }
     //周期监听
     var orderlst = setInterval("order()",1000);


     function pay(url){
  		window.location.href = "" + url;
  	 }

</script>
    <div style="display:none">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276520178'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276520178%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body></html>