<include file="Public/header"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex m-b-10 no-block">
                        <h5 class="card-title m-b-0 align-self-center">商户代付申请管理（通过API提交）</h5>
                    </div>
                    <div class="table-responsive m-t-10">
                <form class="layui-form layui-form-pane" action="" method="get" autocomplete="off" id="orderform">
                    <input type="hidden" name="m" value="User">
                    <input type="hidden" name="c" value="Withdrawal">
                    <input type="hidden" name="a" value="check">
                    <input type="hidden" name="p" value="1">
                    <input type="hidden" name="rows" id="rows" value="<{$rows}>">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="out_trade_no" value="<{$out_trade_no}>" placeholder="请输入订单号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">开户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="accountname" value="<{$accountname}>" placeholder="请输入开户名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">申请时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="create_time" id="create_time" value="<{$accountname}>" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">审核时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="check_time" id="check_time" value="<{$accountname}>" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-inline">
                            <select name="check_status">
                                <option value="">全部审核状态</option>
                                <option value="0" <if condition="$check_status eq '0'">selected</if>>待处理</option>
                                <option value="1" <if condition="$check_status eq '1'">selected</if>>审核通过</option>
                                <option value="2" <if condition="$check_status eq '2'">selected</if>>审核驳回</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">代付状态</label>
                        <div class="layui-input-inline">
                            <select name="status">
                                <option value="">全部代付状态</option>
                                <option value="0" <if condition="$status eq '0'">selected</if>>待处理</option>
                                <option value="1" <if condition="$status eq '1'">selected</if>>处理中</option>
                                <option value="2" <if condition="$status eq '2'">selected</if>>成功</option>
                                <option value="3" <if condition="$status eq '3'">selected</if>>失败</option>
                                <option value="4" <if condition="$status eq '4'">selected</if>>待确认</option>
                            </select>
                        </div>
                    </div>
                        <div class="layui-form-item layui-inline" style="margin-top: -8px;">
                            <button type="submit" class="layui-btn"><span
                                    class="glyphicon glyphicon-search"></span> 搜索
                            </button>
                        </div>
                        <p style="margin-bottom:10px">
                            <a href="javascript:;" id="checkAll" class="layui-btn layui-btn-sm layui-btn-danger">全选</a>
                            <a href="javascript:;" id="submitAllOrder" class="layui-btn layui-btn-sm layui-btn-info">批量通过</a>
                            <a href="javascript:;" id="rejectAllOrder" class="layui-btn layui-btn-sm layui-btn-danger">批量驳回</a>
                        </p>
                        <div class="row statistics" style="margin-top:20px">
                            <div class="col-lg-3 col-md-6 font-14 font-weight-bold m-b-20">
                                今日代付总金额：<span class="success"><{$stat.totay_total}>元</span>
                            </div>
                            <div class="col-lg-3 col-md-6 m-b-20">
                                今日代付待审核总金额：<span class="info"><{$stat.totay_wait}>元</span>
                            </div>
                            <div class="col-lg-3 col-md-6 font-weight-bold m-b-20">
                                今日代付待审核笔数：<span class="info"><{$stat.totay_wait_count}>笔</span>
                            </div>
                            <div class="col-lg-3 col-md-6 font-weight-bold m-b-20">
                                今日代付待平台审核总金额：<span class="info"><{$stat.totay_platform_wait}>元</span>
                            </div>
                            <div class="col-lg-3 col-md-6 font-14 font-weight-bold m-b-20">
                                今日代付待平台审核总笔数：<span class="info"><{$stat.totay_fail_count}>笔</span>
                            </div>
                            <div class="col-lg-3 col-md-6 m-b-20">
                                今日代付成功总金额：<span class="success"><{$stat.totay_success_sum}>元</span>
                            </div>
                            <div class="col-lg-3 col-md-6 font-weight-bold m-b-20">
                                今日代付成功总笔数：<span class="success"><{$stat.totay_success_count}>笔</span>
                            </div>
                            <div class="col-lg-3 col-md-6 font-weight-bold m-b-20">
                                今日代付失败总笔数：<span class="fail"><{$stat.totay_fail_count}>笔</span>
                            </div>
                        </div>
                <!--交易列表-->
                <table lay-data="{width:'100%',limit:<{$rows}>,id:'userData'}" id="tab"  class="layui-table table table-orders color-table table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="myTable_info" style="width: 1011px;">
                    <thead>
                    <tr>
                        <th lay-data="{field:'check' , width:60}"> </th>
                        <th lay-data="{field:'out_trade_no', width:200}">商户订单号</th>
                        <th lay-data="{field:'money', width:150,style:'color:#060;'}">金额</th>
                        <th lay-data="{field:'bankname', width:280}">开户名/银行卡号/银行名称/支行名称</th>
                        <th lay-data="{field:'area', width:80}">省/市</th>
                        <th lay-data="{field:'check_status', width:100, align:'center'}">审核状态</th>
                        <th lay-data="{field:'status', width:120, align:'center'}">代付状态</th>
                        <th lay-data="{field:'check_time', width:180}">申请时间/处理时间</th>
                        <th lay-data="{field:'memo', width:100}">备注</th>
                        <th lay-data="{field:'op',width:250}">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td><input type="checkbox"  title="" value="<{$vo.id}>" class='checkIds' lay-skin="primary"></td>
                            <td><{$vo.out_trade_no}></td>
                            <td><{$vo.money}> 元</td>
                            <td><{$vo.accountname}><br><{$vo.cardnumber}><br><{$vo.bankname}><br><{$vo.subbranch}></td>
                            <td><{$vo.province}><br><{$vo.city}></td>
                            <td><switch name="vo[check_status]">
                                <case value="0"><strong class="text-danger">待处理</strong></case>
                                <case value="1"><strong class="text-success">审核通过</strong></case>
                                <case value="2"><strong class="text-warning">审核驳回</strong></case>
                            </switch></td>
                            <td>
                                <switch name="vo[status]">
                                    <case value="0"><strong class="text-warning">待处理</strong></case>
                                    <case value="1"><strong class="text-warning">处理中</strong></case>
                                    <case value="2"><strong class="text-success">成功</strong></case>
                                    <case value="3"><strong class="text-danger">失败</strong></case>
                                    <case value="4"><strong class="text-danger">待确认</strong></case>
                                    <default />
                                </switch>
                            </td>
                            <td><{$vo.create_time|date='Y-m-d H:i:s',###}><br><if condition="$vo[check_time] gt 0"><{$vo.check_time|date='Y-m-d H:i:s',###}></if></td>
                            <td><{$vo.memo}></td>
                            <td class="layui-input-inline">
                                <a class="layui-btn layui-btn-small" onclick="javascript:order_view('代付订单号:<{$vo.out_trade_no}>','<{:U('User/Withdrawal/showDf',['id'=>$vo[id]])}>',600,400)"" >查看</a>
                                <if condition="$vo['check_status'] eq 0">
                                <a class="layui-btn layui-btn-warm layui-btn-small"  onclick="df_op('代付订单号:<{$vo.out_trade_no}>','<{:U('User/Withdrawal/dfPass',['id'=>$vo[id]])}>',510,280)">审核通过</a>
                                </if>
                                 <if condition="$vo['check_status'] eq 0 OR ($vo['check_status'] eq 1 and $vo['status'] eq 0)">
                                <a class="layui-btn layui-btn-danger layui-btn-small"  onclick="df_op('代付订单号:<{$vo.out_trade_no}>','<{:U('User/Withdrawal/dfReject',['id'=>$vo[id]])}>',510,280)">审核驳回</a>
                                </if>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                        <{$page}>
                        <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
                            <div class="dataTables_length" id="myTable_length"><label>显示
                                <select name="rows" aria-controls="myTable" class="" id="pageList" lay-ignore >
                                    <option <if condition="$rows neq '' && $rows eq 15">selected</if> value="15">15</option>
                                    <option <if condition="$rows eq 30">selected</if> value="30">30</option>
                                    <option <if condition="$rows eq 50">selected</if> value="50">50</option>
                                    <option <if condition="$rows eq 80">selected</if> value="80">80</option>
                                    <option <if condition="$rows eq 100">selected</if> value="100">100</option>
                                    <option <if condition="$rows eq 1000">selected</if> value="1000">1000</option>
                                </select>
                                条</label>
                            </div>

                        </div>
                    </div>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    $('#pageList').change(function(){
        $('#rows').val($(this).val());
        $('#orderform').submit();
    });
    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,form = layui.form //表单
            , table = layui.table; //表格
        //日期时间范围
        laydate.render({
            elem: '#create_time'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
        //日期时间范围
        laydate.render({
            elem: '#check_time'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });

    });
    /*订单-查看*/
    function order_view(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    function df_op(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    $('#checkAll').on('click', function(){
        var child = $('table').next().find('tbody input[type="checkbox"]');  ;
        child.each(function(){
            if($(this).prop("disabled")==false){
                $(this).attr('checked', true);
                $(this).next('.layui-form-checkbox').addClass('layui-form-checked');
            }
        });
    });
    $('#submitAllOrder').on('click', function(){
        var id = '';
        $('.checkIds').each(function(){
            var _this = $(this);
            if( _this.is(':checked')  ){
                id = id + _this.val() + '_';
            }
        });
        if(id != '') {
            id=id.substring(0,id.length-1);
        }
        if(id){
            var url = "<{:U('/User/Withdrawal/dfPassBatch')}>"+"?id="+id;
            x_admin_show('代付申请批量审核',url,600,200);
        }else{
            layer.msg('请选择代付申请', {icon: 2, time: 1000},function () {});
        }
    });
    $('#rejectAllOrder').on('click', function(){
        var id = '';
        $('.checkIds').each(function(){
            var _this = $(this);
            if( _this.is(':checked')  ){
                id = id + _this.val() + '_';
            }
        });
        if(id != '') {
            id=id.substring(0,id.length-1);
        }
        if(id){
            var url = "<{:U('/User/Withdrawal/dfRejectBatch')}>"+"?id="+id;
            x_admin_show('代付申请批量驳回',url,600,200);
        }else{
            layer.msg('请选择代付申请', {icon: 2, time: 1000},function () {});
        }
    });
</script>
</body>
</html>