/****************************/
/** Basic **/
/****************************/

code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace!important
}
.strong {
	font-weight: 700
}
.pointer, select {
	cursor: pointer
}
.pa-0 {
	padding: 0!important
}
.pa-5 {
	padding: 5px!important
}
.pa-10 {
	padding: 10px!important
}
.pa-15 {
	padding: 15px!important
}
.pa-20 {
	padding: 20px!important
}
.pa-25 {
	padding: 25px!important
}
.pa-30 {
	padding: 30px!important
}
.pt-0 {
	padding-top: 0!important
}
.pt-5 {
	padding-top: 5px!important
}
.pt-10 {
	padding-top: 10px!important
}
.pt-15 {
	padding-top: 15px!important
}
.pt-20 {
	padding-top: 20px!important
}
.pt-25 {
	padding-top: 25px!important
}
.pt-30 {
	padding-top: 30px!important
}
.pt-35 {
	padding-top: 35px!important
}
.pt-40 {
	padding-top: 40px!important
}
.pt-45 {
	padding-top: 45px!important
}
.pt-50 {
	padding-top: 50px!important
}
.pb-0 {
	padding-bottom: 0!important
}
.pb-5 {
	padding-bottom: 5px!important
}
.pb-10 {
	padding-bottom: 10px!important
}
.pb-15 {
	padding-bottom: 15px!important
}
.pb-20 {
	padding-bottom: 20px!important
}
.pb-25 {
	padding-bottom: 25px!important
}
.pb-30 {
	padding-bottom: 30px!important
}
.pb-35 {
	padding-bottom: 35px!important
}
.pb-40 {
	padding-bottom: 40px!important
}
.pb-45 {
	padding-bottom: 45px!important
}
.pb-50 {
	padding-bottom: 50px!important
}
.pl-0 {
	padding-left: 0!important
}
.pl-5 {
	padding-left: 5px!important
}
.pl-10 {
	padding-left: 10px!important
}
.pl-15 {
	padding-left: 15px!important
}
.pl-20 {
	padding-left: 20px!important
}
.pl-25 {
	padding-left: 25px!important
}
.pl-30 {
	padding-left: 30px!important
}
.pl-35 {
	padding-left: 35px!important
}
.pl-40 {
	padding-left: 40px!important
}
.pl-45 {
	padding-left: 45px!important
}
.pl-50 {
	padding-left: 50px!important
}
.pr-0 {
	padding-right: 0!important
}
.pr-5 {
	padding-right: 5px!important
}
.pr-10 {
	padding-right: 10px!important
}
.pr-15 {
	padding-right: 15px!important
}
.pr-20 {
	padding-right: 20px!important
}
.pr-25 {
	padding-right: 25px!important
}
.pr-30 {
	padding-right: 30px!important
}
.pr-35 {
	padding-right: 35px!important
}
.pr-40 {
	padding-right: 40px!important
}
.pr-45 {
	padding-right: 45px!important
}
.pr-50 {
	padding-right: 50px!important
}
.ma-0 {
	margin: 0!important
}
.ma-5 {
	margin: 5px!important
}
.ma-10 {
	margin: 10px!important
}
.ma-15 {
	margin: 15px!important
}
.ma-20 {
	margin: 20px!important
}
.ma-25 {
	margin: 25px!important
}
.ma-30 {
	margin: 30px!important
}
.mt-0 {
	margin-top: 0!important
}
.mt-5 {
	margin-top: 5px!important
}
.mt-10 {
	margin-top: 10px!important
}
.mt-15 {
	margin-top: 15px!important
}
.mt-20 {
	margin-top: 20px!important
}
.mt-25 {
	margin-top: 25px!important
}
.mt-30 {
	margin-top: 30px!important
}
.mt-35 {
	margin-top: 35px!important
}
.mt-40 {
	margin-top: 40px!important
}
.mt-45 {
	margin-top: 45px!important
}
.mt-50 {
	margin-top: 50px!important
}
.mt-55 {
	margin-top: 55px!important
}
.mt-60 {
	margin-top: 60px!important
}
.mt-65 {
	margin-top: 65px!important
}
.mt-70 {
	margin-top: 70px!important
}
.mt-75 {
	margin-top: 75px!important
}
.mt-80 {
	margin-top: 80px!important
}
.mt-85 {
	margin-top: 85px!important
}
.mt-90 {
	margin-top: 90px!important
}
.mt-95 {
	margin-top: 95px!important
}
.mb-0 {
	margin-bottom: 0!important
}
.mb-5 {
	margin-bottom: 5px!important
}
.mb-10 {
	margin-bottom: 10px!important
}
.mb-15 {
	margin-bottom: 15px!important
}
.mb-20 {
	margin-bottom: 20px!important
}
.mb-25 {
	margin-bottom: 25px!important
}
.mb-30 {
	margin-bottom: 30px!important
}
.mb-35 {
	margin-bottom: 35px!important
}
.mb-40 {
	margin-bottom: 40px!important
}
.mb-45 {
	margin-bottom: 45px!important
}
.mb-50 {
	margin-bottom: 50px!important
}
.mb-55 {
	margin-bottom: 55px!important
}
.mb-60 {
	margin-bottom: 60px!important
}
.mb-65 {
	margin-bottom: 65px!important
}
.mb-70 {
	margin-bottom: 70px!important
}
.mb-75 {
	margin-bottom: 75px!important
}
.mb-80 {
	margin-bottom: 80px!important
}
.mb-85 {
	margin-bottom: 85px!important
}
.mb-90 {
	margin-bottom: 90px!important
}
.mb-95 {
	margin-bottom: 95px!important
}
.ml-0 {
	margin-left: 0!important
}
.ml-5 {
	margin-left: 5px!important
}
.ml-10 {
	margin-left: 10px!important
}
.ml-15 {
	margin-left: 15px!important
}
.ml-20 {
	margin-left: 20px!important
}
.ml-25 {
	margin-left: 25px!important
}
.ml-30 {
	margin-left: 30px!important
}
.ml-35 {
	margin-left: 35px!important
}
.ml-40 {
	margin-left: 40px!important
}
.ml-45 {
	margin-left: 45px!important
}
.ml-50 {
	margin-left: 50px!important
}
.ml-55 {
	margin-left: 55px!important
}
.ml-60 {
	margin-left: 60px!important
}
.mr-0 {
	margin-right: 0!important
}
.mr-5 {
	margin-right: 5px!important
}
.mr-10 {
	margin-right: 10px!important
}
.mr-15 {
	margin-right: 15px!important
}
.mr-20 {
	margin-right: 20px!important
}
.mr-25 {
	margin-right: 25px!important
}
.mr-30 {
	margin-right: 30px!important
}
.mr-35 {
	margin-right: 35px!important
}
.mr-40 {
	margin-right: 40px!important
}
.mr-45 {
	margin-right: 45px!important
}
.mr-50 {
	margin-right: 50px!important
}
.mr-55 {
	margin-right: 55px!important
}
.mr-60 {
	margin-right: 60px!important
}
.ml-auto {
	margin-left: auto!important
}
.mr-auto {
	margin-right: auto!important
}
.text-right {
	text-align: right!important
}
.text-left {
	text-align: left!important
}
.bg-green, .bg-success {
	background: #128807!important
}
.bg-seagreen {
	background: #007153!important
}
.bg-grey {
	background: #878787!important
}
.bg-warning, .bg-yellow {
	background: #f8b32d!important
}
.bg-danger, .bg-red {
	background: #f33923!important
}
.bg-blue, .bg-primary {
	background: #2bb9c3!important
}
.bg-info, .bg-pink {
	background: #fd7397!important
}
.bg-purple {
	background: #36479d!important
}
.bg-skyblue {
	background: #119dd2!important
}
.bg-orange {
	background: #ff6300!important
}
.bg-gold {
	background: #e58b25!important
}
.bg-beige {
	background: #f7ce99!important
}
.bg-light {
	background: #fff!important
}
.bg-dark {
	background: #212121!important
}
.txt-dark {
	color: #212121!important
}

.txt-light, .txt-light i {
	color: #fff!important
}
.txt-grey {
	color: #878787!important
}
.txt-light-grey {
	color: #dedede!important
}
.text-info, .txt-info {
	color: #fd7397!important
}
.text-warning, .txt-warning {
	color: #f8b32d!important
}
.text-primary, .txt-primary {
	color: #2bb9c3!important
}
.text-success, .txt-success {
	color: #128807!important
}
.text-danger, .txt-danger {
	color: #f33923!important
}
.txt-purple {
	color: #36479d!important
}
.txt-skyblue {
	color: #119dd2!important
}
.txt-beige {
	color: #f7ce99!important
}
.txt-gold {
	color: #e58b25!important
}
.txt-orange {
	color: #ff6300!important
}
.text-muted, small {
	color: #878787
}
.font-10 {
	font-size: 10px!important
}
.font-11 {
	font-size: 11px!important
}
.font-12 {
	font-size: 12px!important
}
.font-13 {
	font-size: 13px!important
}
.font-15 {
	font-size: 15px!important
}
.font-16 {
	font-size: 16px!important
}
.font-18 {
	font-size: 18px!important
}
.font-20 {
	font-size: 20px!important
}
.font-21 {
	font-size: 21px!important
}
.font-22 {
	font-size: 22px!important
}
.font-24 {
	font-size: 24px!important
}
.font-30 {
	font-size: 30px!important
}
.weight-500 {
	font-weight: 500!important
}
.weight-600 {
	font-weight: 600!important
}
.head-font, .main-font {
	font-family: Rubik, sans-serif
}
.capitalize-font {
	text-transform: capitalize!important
}
.uppercase-font {
	text-transform: uppercase!important
}
.nonecase-font {
	text-transform: none!important
}
.inline-block {
	display: inline-block!important
}
.block {
	display: block!important
}
.table-struct {
	display: table!important
}
.table-cell {
	display: table-cell!important
}
.vertical-align-middle {
	vertical-align: middle!important
}
.full-width {
	width: 100%!important
}
.half-width {
	width: 50%!important
}
.auto-width {
	width: auto!important
}
.relative {
	position: relative!important
}
.border-none {
	border: none!important
}
small {
	padding-left: 5px
}
.truncate {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.mobile-only-view {
	display: none!important
}
hr {
	margin-top: 10px;
	margin-bottom: 35px;
	border-top: 1px solid #2bb9c3
}
hr.light-hr {
	border-top: 1px solid #dedede
}
.seprator-block {
	margin-bottom: 80px
}

blockquote {
	padding: 15px 20px;
	margin: 0 0 20px;
	font-size: 16px;
	border-left: 4px solid #2bb9c3;
	background: #f7f7f9;
	color: #212121
}
blockquote small {
	font-size: 70%;
	text-transform: uppercase;
	padding-top: 15px
}