<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <!--条件查询-->
            <div class="ibox-title">
                <h5>控制器列表</h5>
                <div class="ibox-tools">
                    <i class="layui-icon" onclick="location.replace(location.href);" title="刷新"
                       style="cursor:pointer;">ဂ</i>
                </div>
            </div>
            <!--条件查询-->
            <div class="ibox-content">
                <form class="layui-form layui-form-pane form-search" action="" method="get" autocomplete="off"
                      id="userform">
                    <input type="hidden" name="p" value="1">
                    <input type="hidden" name="rows" id="rows" value="<{:I('param.rows/d',15)}>">
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label">支付产品</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="<{:I('keyword')}>"
                                   placeholder="请输入名称或英文名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <button type="submit" class="layui-btn"><span
                                class="glyphicon glyphicon-search"></span> 搜索
                        </button>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <a href="javascript:;" id="editController" class="layui-btn" onclick="admin_edit('编辑供应商接口','<{:U('Channel/editController')}>')">添加控制器</a>
                    </div>
                </form>
                <!--用户列表-->
                <table class="layui-table" lay-skin="line" lay-size="sm"
                       lay-data="{width:'100%',limit:<{:I('param.rows')}>,id:'status'}">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:150, sort: true}">序号</th>
                        <th lay-data="{field:'name', width:150, sort: true}">名称</th>
                        <th lay-data="{field:'code', width:150}">英文名</th>
                        <th lay-data="{field:'addtime', width:150}">添加时间</th>
                        <th lay-data="{field:'op',width:300}">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td><{$vo.id}></td>
                            <td><{$vo.name}></td>
                            <td><{$vo.code}></td>
                            <td><{$vo.addtime|date="Y-m-d H:i:s",###}></td>
                            <td>
                                <div class="layui-btn-group">
                                    <button class="layui-btn layui-btn-small" onclick="admin_edit('编辑供应商接口','<{:U('Channel/editController',array('id'=>$vo[id]))}>')">编辑</button>
                                    <button class="layui-btn layui-btn-small" onclick="admin_del(this,'<{$vo.id}>')">删除</button>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <!--用户列表-->
                <div class="page"><{$page}>
                    <div class="layui-input-inline">
                        <form class="layui-form" action="" method="get" id="pageForm" autocomplete="off">

                            <select name="rows" style="height: 32px;" id="pageList" lay-ignore>
                                <option value="">显示条数</option>
                                <option
                                <if condition="I('param.rows') neq '' && I('param.rows') eq 15">selected</if>
                                value="15">15条</option>
                                <option
                                <if condition="I('param.rows') eq 30">selected</if>
                                value="30">30条</option>
                                <option
                                <if condition="I('param.rows') eq 50">selected</if>
                                value="50">50条</option>
                                <option
                                <if condition="I('param.rows') eq 80">selected</if>
                                value="80">80条</option>
                                <option
                                <if condition="I('param.rows') eq 100">selected</if>
                                value="100">100条</option>
                                <option
                                <if condition="I('param.rows') eq 1000">selected</if>
                                value="1000">1000条</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    layui.use(['form', 'table', 'laydate', 'layer'], function () {
        var form = layui.form
            , table = layui.table
            , layer = layui.layer
            , laydate = layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#addtime'
            , type: 'datetime'
            , theme: 'molv'
            , range: '|'
        });
        //监听工具条
        table.on('tool(test1)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });
    });

    //编辑
    function admin_edit(title, url) {
        var w = 600, h;
        if (h == null || h == '') {
            h = ($(window).height() - 50);
        }
        ;
        layer.open({
            type: 2,
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            area: [w + 'px', h + 'px'],
            shade: 0.4,
            title: title,
            content: url
        });
    }

    /*删除*/
    function admin_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                url: "<{:U('Channel/delController')}>",
                type: 'post',
                data: 'id=' + id,
                success: function (res) {
                    if (res.status) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    }
                }
            });
        });
    }

    $('#pageList').change(function () {
        $('#rows').val($(this).val());
        $('#userform').submit();
    });
</script>
</body>
</html>