<footer>
    <ul class="footer-list" style="padding-top: 15px;">

        <li>上Copyright © baidu.com, All Rights Reserved.</li>
        <li><{$sitename}></li>
    </ul>
    <ul class="footer-list color">
        <li class="first">
            <a href="javascript:void(0);"></a>
        </li>
        <li>
            <a href="javascript:void(0);"></a>
        </li>
        <li>
            <a href="javascript:void(0);"></a>
        </li>
        <li>
            <a href="javascript:void(0);"></a>
        </li>
        <li class="kexin">

            <!--可信网站图片LOGO安装开始-->
            <script src="<{$style}>js/seallogo.dll.js"></script>
            <!-- 可信网站图片LOGO安装结束 -->
        </li>
        <li>
            <a href="javascript:void(0);"></a>
        </li>
    </ul>
</footer>