<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="favicon.ico">
    <title><{$sitename}>---用户管理中心</title>
    <!-- Bootstrap Core CSS -->
    <link href="Public/New/plugins/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="Public/New/plugins/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!--Toaster Popup message CSS -->
    <link href="Public/New/plugins/vendors/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- Dashboard server Page CSS -->
    <link href="Public/New/assets/css/pages/dashboard-server.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="Public/New/assets/css/responsive.css" rel="stylesheet">
    <link href="Public/Front/js/plugins/layui/css/layui.css" rel="stylesheet">
    <link href="Public/New/assets/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="Public/New/js/html5shiv.js"></script>
    <script src="Public/New/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header fix-sidebar card-no-border">